---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="max-w-3xl mx-auto min-h-screen px-6 sm:px-8 bg-[#1d2021]">
    <div class="flex flex-col min-h-[100dvh] bg-[#1d2021] text-[#ebdbb2]">
      <Header />
      <main class="py-8">
        <article class="prose prose-invert max-w-[800px] mx-auto">
          <h1 class="text-3xl font-bold">Hi I'm Ed 👋</h1>
          <div>
            <p class="mb-8">
              A full-stack developer passionate about software development and
              web technologies. This is my personal blog site where I share my
              learnings, hefty tricks and pitfalls as I encounter them during my
              software development journey.
            </p>
            <p class="mb-8">
              I like to think of this as my journal where I share what excites
              me and frustrates me while developing applications. I also love
              trying out new frameworks and bleeding edge technologies and it
              would be fun to share my experience with the community.
            </p>
          </div>
        </article>
      </main>
    </div>
  </body>
</html>
