---
import FormattedDate from "../components/FormattedDate.astro"

interface Props {
  slug: string
  title: string
  date: Date
  synopsis: string
}

const { slug, title, date, synopsis } = Astro.props
---

<a href={`/blog/${slug}/`} class="unset">
  <article
    class="bg-[#3c3836] hover:border hover:border-[#7daea3] rounded-lg shadow-lg overflow-hidden"
  >
    <div class="p-6">
      <h2 class="text-2xl font-bold mb-2">{title}</h2>
      <p class="text-sm text-[#928374]">
        <FormattedDate date={date} />
      </p>
      {
        Boolean(synopsis) && (
          <p class="leading-relaxed synopsis-item">{synopsis}</p>
        )
      }
    </div>
  </article>
</a>
