---
import FormattedDate from "../components/FormattedDate.astro"

interface Props {
  slug: string
  title: string
  description: string
  date: Date
}

const { slug, title, date, description } = Astro.props
---

<a href={`/blog/${slug}/`} class="unset">
  <article
    class="bg-[#3c3836] rounded-lg shadow-lg overflow-hidden hover:bg-[#504945]"
  >
    <div class="p-6">
      <h2 class="text-2xl font-bold mb-2">{title}</h2>
      <p class="text-sm text-[#928374]">
        <FormattedDate date={date} />
      </p>
      {
        Boolean(description) && (
          <p class="leading-relaxed blog-list-item-desc">{description}</p>
        )
      }
    </div>
  </article>
</a>
