---
import HeaderLink from "./HeaderLink.astro"
---

<header class="pt-4 pb-1">
  <div class="container mx-auto flex items-center justify-between">
    <nav class="flex items-center space-x-4">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </nav>
  </div>
</header>
